footer {
    display: flex;
    /* height: auto; */
    max-height: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(172, 172, 172);
    background-color: #17141d;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 1rem 3rem #000;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
